.button{
    border: none;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.button.buttonBlue{
    background-color: #2381E9 ;
    color: white;
}

.button.buttonRed{
    background-color: #C6082E;
    color: white;
}

.button.buttonGrey{
    background-color: #EEEEEE;
    color: black;
}

.button.buttonGreen{
    background-color: #1CD793;
    color: white;
}