.page_login {
  background: linear-gradient(to right, #ffffff 50%, #74acf0 50%);
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color_white {
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 50px 20px;
  border-radius: 15px;
  border: 7px solid #74acf052;
  width: 400px;
}

.login_title{
    display: flex;
    color: #2381E9;
    font-size: 1.5rem;
    align-items: center;
}
.inputs{
    width: 100%;
}


.p{
    font-size: 0.8rem;
    color: #38A89A;
    margin: 20px 0;
}

.button{
    border: none;
    color: white;
    border-radius: 30px;
    background-color: #2381E9;
    padding: 15px 20px;
}

.button:hover{
    background-color: #74acf0;
}


.error_message{
  font-size: 0.9rem;
  margin-left: 10px;
}


@media screen and (max-width: 400px) {
    .form{
       width: 320px;
    }

}


@media screen and (max-height: 450px) { 
   
     .page_login {
        height: 800px;
      }
      
      
}






