.page_register {
  background: linear-gradient(to right, #ffffff 50%, #74acf0 50%);
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.color_white {
  height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 50px 20px;
  border-radius: 15px;
  border: 7px solid #74acf052;
  width: 400px;
}

.h1 {
  color: #2381e9;
  font-size: 3rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.container_input {
  border: 2px solid #1265c357;
  display: flex;
  align-items: center;
  border-radius: 15px;
  color: #74acf0;
  margin-top: 30px;
  width: 100%;
}

.input {
  border: none;
  outline: none;
  flex-grow: 1;
  color: rgb(49, 49, 49);
  margin: 0px 10px;
  height: 45px;
}

.button {
  border: none;
  color: white;
  border-radius: 30px;
  background-color: #2381e9;
  padding: 15px 20px;
  margin-top: 20px;
}

.button:hover {
  background-color: #74acf0;
}

.icon {
  margin-right: 10px;
}

.input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(68%) sepia(93%) saturate(6476%) hue-rotate(183deg)
    brightness(95%) contrast(88%);
}

.input[type="date"] {
  color: rgb(119, 119, 119); /* Color deseado para el texto de la fecha */
}

@media screen and (max-width: 400px) {
    .page_register {
        height: 900px; 
      }
  .form {
    width: 320px;
   
  }
}

@media screen and (max-height:500px) { 
    .page_register {
        height: 1000px; 
      }
    .form{
      margin-top: 100px;
    }
}


