.page_register {
  background: linear-gradient(to right, #ffffff 50%, #74acf0 50%);
  flex-direction: column;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.color_white {
  height: 100vh;
}


.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 50px 20px;
  border-radius: 15px;
  border: 7px solid #74acf052;
  width: 400px;
}

.h1 {
  color: #2381e9;
  font-size: 3rem;
}

.inputs {
  width: 100%;
}



.button {
  border: none;
  color: white;
  border-radius: 30px;
  background-color: #2381e9;
  padding: 15px 20px;
  margin-top: 20px;
}

.button:hover {
  background-color: #74acf0;
}

.icon {
  margin-right: 10px;
}



@media screen and (max-width: 400px) {
    .page_register {
        height: 900px; 
      }
  .form {
    width: 320px;
   
  }
}

@media screen and (max-height:500px) { 
    .page_register {
        height: 1000px; 
      }
    .form{
      margin-top: 100px;
    }
}


