.searchPeople {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search_input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_users {
  display: flex;
}

.customSearch {
  background-color: #ececec;
  color: #999999;
}

.request {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #74acf0;
  margin-left: 15px;
  position: relative;
}

.iconRequest {
  font-size: 2rem;
}

.spam {
  font-size: 0.8rem;
}

.results {
  position: absolute;
  background-color: white;
  padding: 20px;
  width: auto;
  z-index: 1000;
  border-radius: 15px;
}

.list_users {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info_users {
  display: flex;
  margin: 10px;
}

.li {
  margin: 10px;
}

.image_profile {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin: 0 5px;
}

.requestButton {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1cd793;
  border-radius: 50%;
  color: white;
  height: 30px;
  width: 30px;
  font-size: 1.5rem;
  cursor: pointer;
}
.requestButton:hover {
  background-color: #16b47a;
}

@media screen and (max-width: 850px) {
  .searchPeople {
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .search_input {
    position: absolute;
    top: 60px;
    z-index: 1001;
  }
}
